<div class="container">
<div id="selectScreen">
    <div class="row">
        <div class="col-6">
            {{#each memes.enemies}}
                <div class="card">
                    <img src="{{this.link}}" alt="memeimg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <ul class="card-text">
                            <li>POWER LEVEL: {{this.lvl}}</li>
                            <li>HEALTH POINTS: {{this.health_points}}</li>
                        </ul>
                        <a id="{{this.id}}" class="defendSelect btn btn-primary">FIGHT ME!</a>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="col-6">
            {{#each memes.heros}}
                <div class="card">
                    <img src="{{this.link}}" alt="memeimg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <ul class="card-text">
                            <li>POWER LEVEL: {{this.lvl}}</li>
                            <li>HEALTH POINTS: {{this.health_points}}</li>
                        </ul>
                        <a id="{{this.id}}" class="fighterSelect btn btn-primary">LET ME FIGHT FOR YOU!</a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
<div id="battleScreen" style="display: none">
        <div id="defendPost defenderBlock" class="d-flex align-items-start">
            <div class="row">
                <div class="col-10 d-flex justify-content-start">
                    <div class="card">
                        <img class="card-img-left col-4"  id="imgPost-En" src="" alt="enemy img">
                        <div class="col-4"></div>
                        <div class="card col-4" id="defenderStats">
                            <h4 class="card-title" id="name-En"></h4>
                            <p class="card-text" id="hp-En"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="attackPost attackerblock" class="d-flex align-items-end">
            <div class="row">
                <div class="col-10 d-flex justify-content-start">
                    <div class="card">
                        <img class="card-img-left col-4"  id="imgPost-He" src="" alt="enemy img">
                        <div class="col-4"></div>
                        <div class="card col-4" id="attackerStats">
                            <h4 class="card-title" id="name-He"></h4>
                            <p class="card-text" id="hp-He"></p>
                            <a id="attackButton" class="btn btn-primary">ATTACK!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="winlossPost">{{!-- You won/lost! --}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
            <li id="expPost">{{! this is where the exp gain/loss is posted}}</li>
            <li id="coinPost">{{! this is where the coin loss/gain is posted}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="postBattleDismiss "data-dismiss="modal"><a href="../../profile">Done</a></button>
        {{!this should redirect to the meme page?}}
      </div>
    </div>
  </div>
</div>
</div>
<script src="../../js/battle.js"></script>