<link rel="stylesheet" href="../../styles/battle.css">

<div class="container d-flex">
    <div id="selectScreen">
        <h1 class="name-title text-center">CHOOSE YOUR CONTENDERS</h1>
        <hr>
        <div class="row">
            <div class="col-4 offset-md-1">
                <h3 class="text-center">HEROS</h3>
                <hr>
                {{#each memes.heros}}
                <div class="card selectCard">
                    <h4 class="card-title text-center">{{this.name}}</h5>
                        <img src="{{this.link}}" alt="memeimg" class="card-img-top">
                        <div class="card-body">
                            <ul class="card-text">
                                <li>HEALTH POINTS: {{this.health_points}}</li>
                                <li>ARMOR CLASS: {{this.ac}}</li>
                                <li>ATTACK DICE: 1d{{this.dice_value}}</li>
                                <li>ATTACK POWER: +{{this.attack_power}}</li>
                            </ul>
                            <a id="{{this.id}}" class="fighterSelect btn btn-primary btn-block">LET ME FIGHT FOR YOU!</a>
                        </div>
                </div>
                {{/each}}
            </div>
            <div class="col-4  offset-md-2">
                <h3 class="text-center">ENEMIES</h3>
                <hr>
                {{#each memes.enemies}}
                <div class="card selectCard">
                    <h4 class="card-title text-center">{{this.name}}</h5>
                        <img src="{{this.link}}" alt="memeimg" class="card-img-top">
                        <div class="card-body">
                            <ul class="card-text">
                                <li>HEALTH POINTS: {{this.health_points}}</li>
                                <li>ARMOR CLASS: {{this.ac}}</li>
                                <li>ATTACK DICE: 1d{{this.dice_value}}</li>
                                <li>ATTACK POWER: +{{this.attack_power}}</li>
                            </ul>
                            <a id="{{this.id}}" class="defendSelect btn btn-primary btn-block">FIGHT ME!</a>
                        </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
    <div id="battleScreen" style="display: none; width:100%; height: 100%;">
        <div class="container-fluid">
        <div class="row d-flex flex-row-reverse">
            <div class="col-8 offset-md-4 align-self-start">
                <div class="col-4 offset-md-8 float-right">
                    <img id="imgPost-En" src="" alt="enemy img">
                </div>
                <div class="card col-4 float-left" id="defenderStats">
                    <h4 class="card-title" id="name-En"></h4>
                    <p class="card-text" id="hp-En"></p>
                    <p class="card-text" id="ac-En"></p>
                    <p class="card-text" id="ap-En"></p>
                </div>
            </div>
        </div>

        <div class="row justify-content-md-center" style="padding: 10px 0;">
            <a id="attackButton" class="btn-lg btn-primary">ATTACK!</a>
        </div>

        <div class="row d-flex flex-row">
            <div class="col-md-8 fixed-bottom">
                <div class="card col-4 float-right" id="attackerStats">
                    <h4 class="card-title" id="name-He"></h4>
                    <p class="card-text" id="hp-He"></p>
                    <p class="card-text" id="ac-He"></p>
                    <p class="card-text" id="ap-He"></p>
                </div>
                <div class="col-4">
                    <img id="imgPost-He" src="" alt="hero img">
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="winlossPost">{{!-- You won/lost! --}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul>
                        <li id="expPost">{{! this is where the exp gain/loss is posted}}</li>
                        <li id="coinPost">{{! this is where the coin loss/gain is posted}}</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="postBattleDismiss">Done</button>
                    {{!this should redirect to the meme page?}}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../js/battle.js"></script>