<div class="container">
{{#unless battleStart}}
    <div class="row">
        <div class="col-6">
            {{#each memes.enemies}}
                <div class="card">
                    <img src="{{this.link}}" alt="memeimg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <ul class="card-text">
                            <li>POWER LEVEL: {{this.lvl}}</li>
                            <li>HEALTH POINTS: {{this.health_points}}</li>
                        </ul>
                        <a onclick="defendSelect({{this.id}})" id="{{this.id}}" class="btn btn-primary">FIGHT ME!</a>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="col-6">
            {{#each memes.heros}}
                <div class="card">
                    <img src="{{this.link}}" alt="memeimg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <ul class="card-text">
                            <li>POWER LEVEL: {{this.lvl}}</li>
                            <li>HEALTH POINTS: {{this.health_points}}</li>
                        </ul>
                        <a onclick="fighterselect({{this.id}})" id="{{this.id}}" class="btn btn-primary">LET ME FIGHT FOR YOU!</a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    {{/unless}}
    {{#if battleStart}}
    <div>
        <div id="attackPost"></div>
        <div id="defendPost"></div>
        battle has started 
    </div>
    {{/if}}
</div>
<script src="./js/memeconstruct.js"></script>
<script src="./js/battle.js"></script>