<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/home.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home">Home Page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <div id=user>
                    <a class="nav-item nav-link active" href="#">{{user.email}}<span class="sr-only">(current)</span></a>
                </div>

                <a class="nav-item nav-link active" href="/logout">Logout<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="#">Meme Points: <span id="meme-points"></span></a>
                <a class="nav-item nav-link active purchased" href="/purchased">Purchased Memes<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active more-points" href="/more-points">More Points<span class="sr-only">(current)</span></a>


            </div>
    </nav>


    </div>
    <div class="container">

        {{#each meme}}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h2>{{this.name}}</h2>
                    </div>

                    <div class="card-body">
                        <img class="meme-link" src={{this.link}} alt="">
                        <p>Health Points: {{this.health_points}}</p>
                        <p>Attack Power: {{this.attack_power}}</p>
                        <p>Cost: {{this.cost}}</p>
                        <p>Dice Value {{this.dice_value}}</p>
                        <button type="button" class="btn btn-dark buy" data-UserId={{this.id}} name={{this.name}} link={{this.link}}
                            attack={{this.attack_power}} health={{this.health_points}} dice={{this.dice_value}} cost={{this.cost}}
                            UserId="">Buy
                            Meme</button>
                    </div>
                </div>

            </div>
        </div>
        {{/each}}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="../js/home.js"></script>
</body>

</html>